body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden; }

strong {
  font-weight: bold; }

h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 600; }

h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.25; }
#mobileLang {display: none;}
.section-1 {
  position: relative;
  padding-top: 43px;
  padding-bottom: 150px;
  background-image: radial-gradient(circle at 47% 48%, #060540, #010027 51%, #000000); }
  .section-1:before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: -1vw;
    width: 0;
    height: 0;
    border-bottom: 200px solid #fff;
    border-left: 101vw solid transparent;
    z-index: 999; }
  .section-1 .logo {
    max-width: 206px; }
  .section-1 .item {
    color: #fff;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    display: inline;
    margin-top: 0; }
    .section-1 .lang{

      margin: 0;
      width: 60px;
      height: 40px;
      margin-left: 20px;
      font-size: 21px !important;
      cursor: pointer;}   
    .section-1 .item:after {
      content: '';
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #fff; }
  .section-1 h1 {
    padding: 96px 0 46px; }
  .section-1 p {
    margin-top: 187px;
    color: #fff;
    font-size: 22px;
    font-weight: 300; }
  .section-1 .mobile {
    position: relative;
    bottom: -50px; }

.section-2, .section-3, .section-4 {
  background: #fff;
  margin-top: 50px; }
  .section-2 h2, .section-3 h2, .section-4 h2 {
    color: #000;
    font-weight: 600;
    font-size: 36px; }
  .section-2 p, .section-3 p, .section-4 p {
    margin-top: 120px;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.25; }
  .section-2 img, .section-3 img, .section-4 img {
    box-shadow: 0 0 14px 0 rgba(5, 4, 60, 0.25); }

.section-3 {
  padding-top: 218px;
  padding-bottom: 100px;
  position: relative;
  background-image: radial-gradient(circle at 67% 53%, #060540, #010027 51%, #000000); }
  .section-3:before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1vw;
    width: 0;
    height: 0;
    border-top: 200px solid #fff;
    border-left: 101vw solid transparent; }
  .section-3 h2, .section-3 p {
    color: #fff; }

.section-4 {
  padding: 120px 0; }

footer {
  position: relative;
  text-align:center;
  padding-top: 100px;
  padding-bottom: 50px;
  color: #fff;
  font-size: 14px;
  background-image: radial-gradient(circle at 74% 50%, #060540, #010027 51%, #000000);
  border-top: 2px solid #fff; }
  footer:before {
    content: '';
    position: absolute;
    top: -6px;
    left: -10vw;
    width: 0;
    height: 0;
    border-top: 6vw solid #fff;
    border-left: 110vw solid transparent; }
  footer p {
    margin-top: 10px;
    line-height: 1.2; }

.navbar {
    -webkit-box-shadow: 0;
    box-shadow: 0;
    background-image: radial-gradient(circle at 47% 48%, #060540, #010027 51%, #000000);
}    
.navbar-light .navbar-toggler {
  color: white;
  border-color: black; }

.navbar-toggler {
  background-color: #fff;
  border: 1px solid #fff; }

.top-nav-collapse {
  background-image: none;
  background-color: #24355c;
}  

.navbar.navbar-light .breadcrumb .nav-item.active > .nav-link, .navbar.navbar-light .navbar-nav .nav-item.active > .nav-link {
    background-color: transparent;
}

@media (min-width: 0px) and (max-width: 767px) {
  #mobileLang {display: block;}
  #deskLang {display: none;}
  .text-xs-left {
    text-align: left !important; }
  .text-xs-right {
    text-align: right !important; }
  .text-xs-center {
    text-align: center !important; }
  .text-xs-justify {
    text-align: justify !important; }
  .logo {
    max-width: 80% !important; }
  .navbar-brand {
    max-width: 50%; }
  .item {
    font-size: 12px !important; }
  h1 {
    font-size: 20px !important; }
  h2 {
    font-size: 18px !important; }
  p {
    font-size: 15px !important; }
  .section-1 .lang{
    width: 37px;
    height: 27px;  
  }  
  .section-1, .section-2, .section-3, .section-4, footer {
    padding-bottom: 0; }
    .section-1:before, .section-2:before, .section-3:before, .section-4:before, footer:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border-bottom: 0;
      border-left: 0; }
    .section-1 h1, .section-2 h1, .section-3 h1, .section-4 h1, footer h1 {
      padding: 40px 0 30px; }
    .section-1 p, .section-2 p, .section-3 p, .section-4 p {
      margin-top: 30px;
      margin-bottom: 30px; }
      footer p {
      margin-top: 0px;
      margin-bottom: 10px; }
    .section-1 .mobile, .section-2 .mobile, .section-3 .mobile, .section-4 .mobile, footer .mobile {
      position: relative;
      bottom: -2px; }
  .section-2 p {
    margin-top: 30px;
    margin-bottom: 30px; }
  .section-3 {
    padding-top: 50px; }
    .section-3 h2 {
      margin-top: 50px; }
  .section-4 {
    padding-top: 0px; }
    .section-4 img {
      margin-bottom: 50px; }
  footer {
    padding: 10px 0;
    padding-bottom: 25px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .text-sm-left {
    text-align: left !important; }
  .text-sm-right {
    text-align: right !important; }
  .text-sm-center {
    text-align: center !important; }
  .text-sm-justify {
    text-align: justify !important; }
  .logo {
    max-width: 100px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .text-md-left {
    text-align: left !important; }
  .text-md-right {
    text-align: right !important; }
  .text-md-center {
    text-align: center !important; }
  .text-md-justify {
    text-align: justify !important; } }

@media (max-width: 1200px) {
  .text-lg-left {
    text-align: left !important; }
  .text-lg-right {
    text-align: right !important; }
  .text-lg-center {
    text-align: center !important; }
  .text-lg-justify {
    text-align: justify !important; } }

